
// colors
$color-primary: #656498;
$color-primary-dark: #47477A;
$color-primary-light: #ABABD3;
$color-primary-gray: #B7B7CE;
$color-primary-alpha: rgba(101, 100, 152, 0.75);
$color-white: #f5f8fa;
$color-black-alpha: rgba(0,0,0,.5);
$color-facebook: #4267b2;
$color-twitter: #48AAE6;
$body-bg: #f5f8fa;
$color-error-message: #67ed00;
// sizes
$login-height: 510px;
$login-width: 370px;
$login-top: calc(50vh - #{$login-height/2});
$login-right: calc(50vw - #{$login-width/2}); 
$register-height: 550px;
$register-width: 370px;
$register-top: calc(50vh - #{$register-height/2});
$register-right: calc(50vw - #{$register-width/2}); 

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-family-cursive: "Caveat", cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$padding-button: 5px 15px;

// Panels
$panel-default-heading-bg: #fff;
