
// Fonts
@import url("https://fonts.googleapis.com/css?family=Caveat|Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.fas.fa-spinner.loading {
  animation: load 1.5s linear infinite;
}
//utils
.link {
  cursor: pointer;
}
//animation
@keyframes load {
  0%{transform: rotate(0);}
  100%{transform: rotate(360deg);}
}